
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 60%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Merriweather', serif;
    text-rendering:optimizeLegibility;
    line-height: ;
}
ul li{
    list-style-type: none;
}
h1{font-size: 3rem;
color:#fff;}
h2{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
}
h2::after{
    content: "";
    display: block;
    height: .4rem;
    background: #fff;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
    text-align: center;

}
h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color:#fff;
}
h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform:uppercase ;
    margin-top: 2.5rem;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;

}

.row{
    max-width: 114rem;
    margin: 0 auto;
}
.btn:link,
.btn:visited,
.btn{
    background: #333;
    border-bottom: 3px solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 60px;
    border-radius: 3px;
    display: inline-block;
    margin-top:45px ;
    font-size: 1.6rem;
}

/* -------------------paraghaph------------------ */
.little-description{
    font-size:1.8rem;
    width:60%;
    margin-left: 20%;
    line-height: 3rem;
}
header{
    background:linear-gradient(rgba(135,80,156,0.9),rgba(135,80,156,0.9)),url(img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 85vh;
    position: relative;

}
.logo{
    height: 3.5rem;
    width: auto;
    margin-top: 3.5px;
    float: left;
}

/* =================Main NAv========================== */
.main-nav{
    float: right;
    margin-top: 4ram;
}
.main-nav li:first-child{
    display: inline-block;
    margin-left: 0;
}
.main-nav li{
    display: inline-block;
    margin-top: 1rem;
   
}
.main-nav li a:link,
.main-nav li a :visited{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100,58 121,0);
    padding: .6rem 1.6rem;
    border-radius: .3rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: .3s;
    
}
.main-nav li.active a:link
.main-nav li:hover a:visited{
    background: rgba(100,58,121,1);
}
.main-nav li:hover a:link
.main-nav li:hover a:visited{
    background: rgba(100,58,121,1);
}
.active{
    background: rgba(100,58,121,1);
    border-radius: 3px;
}

/* ================Sticky============= */
.sticky{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: #87509c;
}
.sticky logo{
    margin-top: .2rem;
}
.sticky .main-nav{margin-top: 0;}
.hero-text-box{
    position: absolute;
    top:50%;
    left:58%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 3px;
    padding-right: 200px;

}
.btn-hero:link,
.btn-hero:visited{
    background: #eb7d4b;
    border-color: #c86a40;
}

.steam-section{
    padding: 50px;
    text-align: center;
    background:linear-gradient(rgba(23,194,164,0.9),rgba(23,194,164,0.9)),url(img/services-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.steam-section h2{
    color: #ffffff;
}
.steam-section h2::after{
    background:#14a58c;
}

.steam-section h3{
    color:#f6f6f6
}
.steam-section p{
    color:#f6f6f6
}

.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    color: #fff;
    

}
.team-section{
    padding: 50px;
    text-align: center;
    background:linear-gradient(rgba(231,241,248,0.9),rgba(231,241,248,0.9)),url(img/team-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
.team-section h2{
    color: #3c4761;
}
.team-section h2::after{
    backsground:#c8d9e5;
}
.team-member{
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height:20rem;
    width:20rem;
    border-radius: 50%;
}
.team-section h3{
    color:#27283d
}


.role{
    font-size: 1.5rem;
    color:#30bae7;
    text-transform: capitalize;
    margin-top: .5rem;
    display: inline-block;
}
.team-section .box p{
    color:#3c4761

}
.social-link{
    margin-top: 4.5rem;
}
.social-link ul li{
    display: inline-block;
    margin: 0.5rem;
}
.social-link ul li a:link{
    color:#fff;
}
.social-link ul li a:link i::before{
    background: #bdd1df;
    width: 2rem;
    height:3rem;
    border-radius: 50%;
    display: inline-block;
    font-size:2rem;
    padding: 1rem;
    transition: .3s;
}
.social-link ul li a:hover i::before{

    background: #ebe4ef;
    transform: rotate(360deg);
}


/* ====================skill======================== */
.skill-section{
    color:#3c4761;
    text-align: center;
    background: #f1e1e1;
    background:linear-gradient(rgba(189, 182, 223, 0.9),rgba(150, 122, 235, 0.9)),url(img/skill-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px;
}
.skill-section h2,
.skill-section h3{
    color:#3c4761
}

.skill-section .box{
    margin-top: 4.5rem;
}
.skill-section h2::after{
    background: #000000;
}
svg.redial-progress circle{
    stroke-width: 5;
}
svg.redial-progress text{
    fill:#3c4761;
    font-size:.5rem
   
}
svg.web-design circle{
    stroke:#d20155;
}
svg.html-css circle{
    stroke: #3134ed;
}
svg.graphic-design circle{
    stroke: #7b0505;
}
svg.ui-ux circle{
    stroke: #eb7d4b;
}

/* ==================protfolio================= */
.portfolio-section{
    background: linear-gradient(rgba(255,221,153,0.9),rgba(255,221,153,0.9)),url(img/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    text-align: center;
    background-attachment: fixed;
}

.portfolio-section h2{
    text-align: center;
    color: #3c4761;
}
.portfolio-section p{
    text-align: center;
    color: #3c4761;
}
.portfolio-section h2::after{
    background: #e5c37f;

}
.portfolio-section h4{
    text-align: center;
    color: #3c4761;
}

.protfolio-filter{
    margin: 4.5rem 0;
    text-align: center;
}
.protfolio-filter button{
    background: #ebc985;
    font-size: 1.8rem;
    padding:1rem 2rem;
    border:0;
    border-radius:.5rem;
    text-transform: uppercase;
    color:#3c4761;
    margin: 0 .5px;
    text-align: center;
   
}

.protfolio-filter button:hover{
    cursor:pointer;
    background: #ccae29;
    box-shadow: inset 0 .3rem .5rem rgba(60,71 97,0.5);
}
.protfolio-image{
    width:100%;
    height: 300px;

}
.portfolio-section .col:nth-child(3){
    margin-left: 0;
}
.portfolio-section .btn-load-more{
    background: #17c2a4;
    border-color: #14a58c;
}

.portfolio-section .mixitup-control-active{
    background: #fff;

}
/* =============testimonial section============= */
.testimonial{
    background:linear-gradient(rgba(215,70,128,0.9),rgba(215,70,128,0.9)), url(img/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 100px;

    
}
.testimonial .little-description{
    text-align: center;
    color: #fff;

}
.testimonial .col:nth-child(3){
    margin-left: 0;
}

.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2)
{
    margin-top: 4rem;
    
}

.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4)
{
    margin-top: 8rem;
    
}
.client-photo{
    width: 10rem;
    float: left;


}

.client-photo img{
    height: 9rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.client-review{
    width: 35rem;
    float: left;
    
}
.client-review p{
    font-size: 2.1rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem;
}


/* ++++++++++++++++++++contact++++++++++++++++++++ */

.contact{
    text-align: center;
    background:linear-gradient(rgba(60,84,153,0.9),rgba(60,84,153,0.9)),url(img/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 60px;
}
.contact h2::after{
    background: #273a71;

}
.contact-section .little-description{
    color:#fff;

}
.contact form{
    margin-top: 5rem;
    width: 70%;
    margin-left: 15%;
  
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea
{ background: #273a71;
    border: .1rem solid #273a71;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: #fff;

}
.contact form ::placeholder{
    color: #fff;
    opacity:1;

}
.btn-submit{
    border: 0;
    border-bottom: .3rem solid #299ec5;
    background: #30bae7;
}
.btn-submit :hover{
    cursor: pointer;
}